/* CSS declarations go here */

.red-line {
  position: fixed;
  width: 10px;
  height: 100%;
  top: 0;
  left: 15px;
  background-color: red;
  z-index: -1;
}

.main-content {
  margin-top: 20px;
}

.station {
  margin-left: 7px;
  margin-bottom: 10px;
}

.station-name {
  text-transform: uppercase;
}

.white-circle {
  width: 10px;
  height: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  border: solid thin black;
  float: left;
  margin-right: 5px;
  margin-top: 6px;
  margin-left: 8px;
}

.events-container {
  margin-left: 30px;
  max-width: 500px;
  padding-right: 15px;
}

.event {
  width: 100%;
}

span.event-title {
  font-weight: bold;
  font-size: 18px;
  color: red;
}

span.event-location {
  font-size: 12px;
  color: #aaa;
}

span.event-detail {
  margin-right: 10px;
  white-space: nowrap;
}

.add-button-container {
  position: fixed;
  bottom: 10px;
  right: 20px;
}

#add-modal {
  max-width: 500px;
}

#add-modal .modal-content{
  margin-bottom: 20px;
}

select {
  display: block;
}
