/* CSS declarations go here */

.red-line {
  position: fixed;
  width: 10px;
  height: 100%;
  top: 0;
  left: 15px;
  background-color: red;
  z-index: -1;
}

.navbar-fixed {
  z-index: 99;
  height: 50px;
}

.navbar-fixed nav {
  height: 44px;
  line-height: 1em;
}

.nav-wrapper {
  overflow: hidden;
  line-height: 1em;
}

.back-button {
  float: left;
  overflow: hidden;
  padding-top: 9px;
  margin-left: 10px;
  margin-right: 10px;
}

.back-button img {
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.line-being-viewed {
  margin-top: 15px;
  margin-right: 8px;
  text-align: center;
  width: 100%;
  font-size: 20px;
}

.main-content {
  margin-top: 20px;
}

.station {
  margin-left: 7px;
  margin-bottom: 10px;
}

.station-name {
  text-transform: uppercase;
}

.white-circle {
  width: 10px;
  height: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  border: solid thin black;
  float: left;
  margin-right: 5px;
  margin-top: 6px;
  margin-left: 8px;
}

.events-container {
  margin-left: 30px;
  max-width: 500px;
  padding-right: 15px;
}

.event {
  width: 100%;
}

span.event-title {
  font-weight: bold;
  font-size: 18px;
  color: red;
}

span.event-location {
  font-size: 12px;
  color: #aaa;
}

span.event-detail {
  margin-right: 10px;
  white-space: nowrap;
}

.add-button-container {
  position: fixed;
  bottom: 10px;
  right: 20px;
}

#add-modal {
  max-width: 500px;
}

#add-modal .modal-content{
  margin-bottom: 20px;
}

select {
  display: block;
}

#intro-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: white;
  top: 0;
  left: 0;
  padding: 10px;
}

.intro-screen-content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.ninja-logo {
  height: 100px;
  width: 100px;
  margin: 0 auto 10px auto;
}

h1.app-title {
  font-size: 40px;
  margin: 0 0 5px 0;
  line-height: 1.2em;
}

h2.app-subtitle {
  font-size: 24px;
  margin: 0 0 10px 0;
  line-height: 1.2em;
}

div.lines {
  margin-top: 15px;
  margin-bottom: 25px;
}

.credits {
  font-size: 0.8em;
}

.noscroll {
  position: relative;
  overflow: hidden;
}

.card a.btn-vote{
  padding-left: 0.5rem;
  padding-top: 0.01rem;
  padding-right: 0.7rem;
  padding-bottom: 0.01rem;
  margin-right: 5px;
}

.card a.btn-vote i.left {
  margin-right: 5px;
}
