/* CSS declarations go here */

.line-background {
  position: fixed;
  width: 10px;
  height: 100%;
  top: 0;
  left: 15px;
  z-index: -1;
}

.red-line {
  background-color: red;
}

.orange-line {
  background-color: orange;
}

.green-line {
  background-color: green;
}

.blue-line {
  background-color: blue;
}

.navbar-fixed {
  z-index: 99;
  height: 50px;
}

.navbar-fixed nav {
  height: 44px;
  line-height: 1em;
}

.nav-wrapper {
  overflow: hidden;
  line-height: 1em;
}

.back-button {
  float: left;
  overflow: hidden;
  position: absolute;
  margin-left: 10px;
  line-height: 44px;
}

.line-being-viewed {
  margin-top: 15px;
  text-align: center;
  width: 100%;
  font-size: 16px;
}

.top-panel {
  margin-left: 30px;
  overflow: hidden;
  max-width: 500px;
  padding: 5px;
  margin-right: 15px;
}

img.top-panel-ninja {
  height: 40px;
  float: left;
}

.top-panel-text {
  float: left;
  margin-left: 5px;
  line-height: 40px;
  font-size: 16px;
}

.main-content {
  margin-top: 20px;
}

.station {
  margin-left: 7px;
  margin-bottom: 10px;
}

.station-name {
  text-transform: uppercase;
}

.white-circle {
  width: 10px;
  height: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  border: solid thin black;
  float: left;
  margin-right: 5px;
  margin-top: 6px;
  margin-left: 8px;
}

.reports-container {
  margin-left: 30px;
  max-width: 500px;
  padding-right: 15px;
}

.report {
  width: 100%;
}

span.report-title {
  font-weight: bold;
  font-size: 18px;
  color: red;
}

span.report-location {
  font-size: 12px;
  color: #aaa;
}

span.report-detail {
  margin-right: 10px;
  white-space: nowrap;
}

.add-button-container {
  position: fixed;
  bottom: 10px;
  right: 20px;
}

#add-modal {
  max-width: 500px;
}

#add-modal .modal-content{
  margin-bottom: 20px;
}

select {
  display: block;
}

.intro-screen-content {
  max-width: 500px;
  margin: 0 auto;
  /* text-align: center; */
  padding: 10px;
}

.logo {
  overflow: hidden;
  width: 250px;
  margin: 0 auto;
  text-align: left;
}

.intro-screen-content span.badge {
  min-width: 1rem;
}

.intro-screen-content span.badge.new:after {
  content: '';
}

.ninja-logo {
  height: 64px;
  width: 64px;
  margin: 0 auto 10px auto;
  float: left;
}

h1.app-title {
  font-size: 32px;
  margin: 0 0 5px 0;
  line-height: 1.2em;
}

h2.app-subtitle {
  font-size: 18px;
  margin: 0 0 10px 0;
  line-height: 1.2em;
  font-style: italic;
}

div.lines {
  margin-top: 15px;
  margin-bottom: 25px;
}

.collection .collection-item {
  padding: 10px;
}

.share-buttons {
  margin-bottom: 20px;
}

.credits {
  font-size: 0.8em;
}

iframe#twitter-widget-0 {
  vertical-align: bottom;
  margin-left: 10px;
}

.card a.btn-vote{
  padding-left: 0.5rem;
  padding-top: 0.01rem;
  padding-right: 0.7rem;
  padding-bottom: 0.01rem;
  margin-right: 5px;
}

.card a.btn-vote i.left {
  margin-right: 5px;
}
