<template name="createReport">
  <div id="add-modal" class="modal">
    <div class="modal-content">
      <form>
        <label for="nameInput"> Report Type: </label>
        <select id="nameInput">
          {{#each reportTypes}}
            <option value="{{name}}">{{name}}</option>
          {{/each}}
        </select>
        <label for="locationInput"> Location: </label>
        <select id="locationInput">
          {{#each stations}}
            <option value="{{name}}">{{name}}</option>
          {{/each}}
        </select>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="waves-effect waves-green btn btn-flat blue white-text modal-action modal-close submit">Submit</a>
    </div>
  </div>
</template>
