<template name="landing">
  <div id="fb-root"></div>
  <div id="intro-screen">
    <div class="intro-screen-content">
      <div class="logo">
        <img class="ninja-logo" src="/images/ninja.png" />
      </div>
      <h1 class="app-title">
        MBTA Ninja
      </h1>
      <h2 class="app-subtitle">
        Waze for the T
      </h2>
      <ul>
        <li>No more guessing what "minor delays" means.</li>
        <li>Get realtime updates from fellow T riders.</li>
        <li>No need to refresh, the app updates on its own.</li>
      </ul>
      <div class="collection lines">
        <a href="{{pathFor 'line.show' line='Red Line - Northbound'}}" class="collection-item line-selector red-text">Red Line - Northbound (to Alewife)</a>
        <a href="{{pathFor 'line.show' line='Red Line - Southbound'}}" class="collection-item line-selector red-text">Red Line - Southbound (to Ashmont/Braintree)</a>
        <a href="{{pathFor 'line.show' line='Orange Line - Northbound'}}" class="collection-item line-selector orange-text">Orange Line - Northbound (to Oak Grove)</a>
        <a href="{{pathFor 'line.show' line='Orange Line - Southbound'}}" class="collection-item line-selector orange-text">Orange Line - Southbound (to Forest Hills)</a>
        <a href="{{pathFor 'line.show' line='Blue Line - Northbound'}}" class="collection-item line-selector blue-text">Blue Line - Northbound (to Wonderland)</a>
        <a href="{{pathFor 'line.show' line='Blue Line - Southbound'}}" class="collection-item line-selector blue-text">Blue Line - Southbound (to Bowdoin)</a>
        <a href="{{pathFor 'line.show' line='Green Line B - Westbound'}}" class="collection-item line-selector green-text">Green Line B - Westbound (to Boston College)</a>
        <a href="{{pathFor 'line.show' line='Green Line B - Eastbound'}}" class="collection-item line-selector green-text">Green Line B - Eastbound (to Lechmere)</a>
        <a href="{{pathFor 'line.show' line='Green Line C - Westbound'}}" class="collection-item line-selector green-text">Green Line C - Westbound (to Cleveland Circle)</a>
        <a href="{{pathFor 'line.show' line='Green Line C - Eastbound'}}" class="collection-item line-selector green-text">Green Line C - Eastbound (to North Station)</a>
        <a href="{{pathFor 'line.show' line='Green Line D - Westbound'}}" class="collection-item line-selector green-text">Green Line D - Westbound (to Riverside)</a>
        <a href="{{pathFor 'line.show' line='Green Line D - Eastbound'}}" class="collection-item line-selector green-text">Green Line D - Eastbound (to North Station)</a>
        <a href="{{pathFor 'line.show' line='Green Line E - Westbound'}}" class="collection-item line-selector green-text">Green Line E - Westbound (to Heath St)</a>
        <a href="{{pathFor 'line.show' line='Green Line E - Eastbound'}}" class="collection-item line-selector green-text">Green Line E - Eastbound (to Park St)</a>

      </div>
      <div class="share-buttons">
        <div class="fb-share-button" data-href="http://mbta.ninja" data-layout="button_count"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://mbta.ninja" data-text="Check out MBTA Ninja - Waze for the T" data-via="mbta_ninja" data-hashtags="mbta">Tweet</a>
      </div>
      <div class="credits">
        Created by <a target="_blank" href="https://twitter.com/dave_lago">David Lago</a>, <a href="https://twitter.com/geoffreylitt" target="_blank">Geoffrey Litt</a>, and <a href="https://twitter.com/radhika1990" target="_blank">Radhika Malik</a> for the Code Across Boston 2015 hackathon. To request more line coverage or new features, <a href="http://twitter.com/home?status=@mbta_ninja " target="_blank">tweet at us</a> or <a target="_blank" href="https://github.com/davidlago/mbta-ninja">contribute on GitHub</a>.
      </div>
    </div>
  </div>
</template>
