<template name="landing">
  <div id="fb-root"></div>
  <div id="intro-screen">
    <div class="intro-screen-content">
      <div class="logo">
        <img class="ninja-logo" src="/images/ninja.png" />
        <h1 class="app-title">
          MBTA Ninja
        </h1>
        <h2 class="app-subtitle">
          Waze for the T
        </h2>
      </div>
      <ul>
        <li>No more guessing what "minor delays" means.</li>
        <li>Get realtime updates from fellow T riders.</li>
        <li>No need to refresh, the app updates on its own.</li>
      </ul>

      <ul class="collapsible" data-collapsible="accordion">
        <li class="line">
          <div class="collapsible-header"><i class="mdi-maps-directions-subway subway-icon red-line"></i>Red Line<span class="secondary-content"><i class="mdi-navigation-expand-more grey-text lighten-2"></i></span></div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Red Line - Northbound'}}">Northbound (to Alewife)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Red Line - Southbound'}}">Southbound (to Ashmont/Braintree)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
        </li>
        <li class="line">
          <div class="collapsible-header"><i class="mdi-maps-directions-subway subway-icon orange-line"></i>Orange Line<span class="secondary-content"><i class="mdi-navigation-expand-more grey-text lighten-2"></i></span></div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Orange Line - Northbound'}}">Northbound (to Oak Grove)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Orange Line - Southbound'}}">Southbound (to Forest Hills)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
        </li>
        <li class="line">
          <div class="collapsible-header"><i class="mdi-maps-directions-subway subway-icon green-line"></i>Green Line<span class="secondary-content"><i class="mdi-navigation-expand-more grey-text lighten-2" ></i></span></div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Green Line B - Westbound'}}">B - Westbound (to Boston College)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Green Line B - Eastbound'}}">B - Eastbound (to Park St)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Green Line C - Westbound'}}">C - Westbound (to Cleveland Circle)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Green Line C - Eastbound'}}">C - Eastbound (to North Station)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Green Line D - Westbound'}}">D - Westbound (to Riverside)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Green Line D - Eastbound'}}">D - Eastbound (to North Station)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Green Line E - Westbound'}}">E - Westbound (to Heath St)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Green Line E - Eastbound'}}">E - Eastbound (to Lechmere)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
        </li>
        <li class="line">
          <div class="collapsible-header"><i class="mdi-maps-directions-subway subway-icon blue-line"></i>Blue Line<span class="secondary-content"><i class="mdi-navigation-expand-more grey-text lighten-2"></i></span></div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Blue Line - Northbound'}}">Northbound (to Wonderland)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Blue Line - Southbound'}}">Southbound (to Bowdoin)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
        </li>
        <li class="line">
          <div class="collapsible-header"><i class="mdi-maps-directions-subway subway-icon purple-line"></i>Fairmount Line<span class="secondary-content"><i class="mdi-navigation-expand-more grey-text lighten-2"></i></span></div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Fairmount Line - Inbound'}}">Inbound (to Boston)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Fairmount Line - Outbound'}}">Outbound (to Readville)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
        </li>
        <li class="line">
          <div class="collapsible-header"><i class="mdi-maps-directions-subway subway-icon purple-line"></i>Fitchburg Line<span class="secondary-content"><i class="mdi-navigation-expand-more grey-text lighten-2"></i></span></div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Fitchburg Line - Inbound'}}">Inbound (to Boston)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Fitchburg Line - Outbound'}}">Outbound (to Fitchburg)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
        </li>
        <li class="line">
          <div class="collapsible-header"><i class="mdi-maps-directions-subway subway-icon purple-line"></i>Framingham/Worcester Line<span class="secondary-content"><i class="mdi-navigation-expand-more grey-text lighten-2"></i></span></div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Framingham-Worcester Line - Inbound'}}">Inbound (to Boston)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Framingham-Worcester Line - Outbound'}}">Outbound (to Worcester)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
        </li>
        <li class="line">
          <div class="collapsible-header"><i class="mdi-maps-directions-subway subway-icon purple-line"></i>Franklin Line<span class="secondary-content"><i class="mdi-navigation-expand-more grey-text lighten-2"></i></span></div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Franklin Line - Inbound'}}">Inbound (to Boston)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Franklin Line - Outbound'}}">Outbound (to Forge Park/495)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
        </li>
        <li class="line">
          <div class="collapsible-header"><i class="mdi-maps-directions-subway subway-icon purple-line"></i>Greenbush Line<span class="secondary-content"><i class="mdi-navigation-expand-more grey-text lighten-2"></i></span></div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Greenbush Line - Inbound'}}">Inbound (to Boston)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Greenbush Line - Outbound'}}">Outbound (to Greenbush)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
        </li>
        <li class="line">
          <div class="collapsible-header"><i class="mdi-maps-directions-subway subway-icon purple-line"></i>Haverhill Line<span class="secondary-content"><i class="mdi-navigation-expand-more grey-text lighten-2"></i></span></div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Haverhill Line - Inbound'}}">Inbound (to Boston)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Haverhill Line - Outbound'}}">Outbound (to Haverhill)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
        </li>
        <li class="line">
          <div class="collapsible-header"><i class="mdi-maps-directions-subway subway-icon purple-line"></i>Kingston/Plymouth Line<span class="secondary-content"><i class="mdi-navigation-expand-more grey-text lighten-2"></i></span></div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Kingston-Plymouth Line - Inbound'}}">Inbound (to Boston)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Kingston-Plymouth Line - Outbound'}}">Outbound (to Kingston/Plymouth)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
        </li>
        <li class="line">
          <div class="collapsible-header"><i class="mdi-maps-directions-subway subway-icon purple-line"></i>Lowell Line<span class="secondary-content"><i class="mdi-navigation-expand-more grey-text lighten-2"></i></span></div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Lowell Line - Inbound'}}">Inbound (to Boston)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Lowell Line - Outbound'}}">Outbound (to Lowell)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
        </li>
        <li class="line">
        <div class="collapsible-header"><i class="mdi-maps-directions-subway subway-icon purple-line"></i>Middleborough/Lakeville Line<span class="secondary-content"><i class="mdi-navigation-expand-more grey-text lighten-2"></i></span></div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Middleborough-Lakeville Line - Inbound'}}">Inbound (to Boston)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Middleborough-Lakeville Line - Outbound'}}">Outbound (to Middleborough/Lakeville)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
        </li>
        <li class="line">
          <div class="collapsible-header"><i class="mdi-maps-directions-subway subway-icon purple-line"></i>Needham Line<span class="secondary-content"><i class="mdi-navigation-expand-more grey-text lighten-2"></i></span></div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Needham Line - Inbound'}}">Inbound (to Boston)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Needham Line - Outbound'}}">Outbound (to Needham)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
        </li>
        <li class="line">
        <div class="collapsible-header"><i class="mdi-maps-directions-subway subway-icon purple-line"></i>Newburyport/Rockport Line<span class="secondary-content"><i class="mdi-navigation-expand-more grey-text lighten-2"></i></span></div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Newburyport-Rockport Line - Inbound'}}">Inbound (to Boston)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Newburyport-Rockport Line - Outbound'}}">Outbound (to Rockport)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
        </li>
        <li class="line">
          <div class="collapsible-header"><i class="mdi-maps-directions-subway subway-icon purple-line"></i>Providence/Stoughton Line<span class="secondary-content"><i class="mdi-navigation-expand-more grey-text lighten-2"></i></span></div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Providence-Stoughton Line - Inbound'}}">Inbound (to Boston)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Providence-Stoughton Line - Outbound'}}">Outbound (to Providence)<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
        </li>
      </ul>

      <div class="share-buttons">
        <div class="fb-share-button" data-href="http://mbta.ninja" data-layout="button_count"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://mbta.ninja" data-text="Check out MBTA Ninja - Waze for the T" data-via="mbta_ninja" data-hashtags="mbta">Tweet</a>
      </div>
      <div class="credits">
        Created by <a target="_blank" href="https://twitter.com/dave_lago">David Lago</a>, <a href="https://twitter.com/geoffreylitt" target="_blank">Geoffrey Litt</a>, and <a href="https://twitter.com/radhika1990" target="_blank">Radhika Malik</a> for the Code Across Boston 2015 hackathon. To request more line coverage or new features, <a href="http://twitter.com/home?status=@mbta_ninja " target="_blank">tweet at us</a> or <a target="_blank" href="https://github.com/davidlago/mbta-ninja">contribute on GitHub</a>.
      </div>
    </div>
  </div>
</template>
