<template name="line">
  <li class="line">
    <div class="collapsible-header">
      {{#unless noLineReports}}
      <i class="mdi-alert-error red-text subway-icon"></i>
      <span class="badge">
        {{numLineReports}}
      </span>
      {{else}}
      <i class="mdi-maps-directions-{{type}} subway-icon {{color}}"></i>
      {{/unless}}

      {{line}}
      <span class="secondary-content">
        <i class="mdi-navigation-expand-more grey-text lighten-2"></i>
      </span>

    </div>
    {{#each directions}}
    <div class="collapsible-body">
      <a href="{{pathFor 'line.show' line=path type=../type}}">{{direction}}
        <span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span>
      </a>
      {{#unless noReports }}
      <span class="badge black-text">{{numReports}}</span>
      {{/unless}}
    </div>
    {{/each}}
  </li>
</template>
